{% extends "base.pug" %}
{% block title %}复习主页{% endblock %}
{% block css %}
script(src="/static/js/homepage.js")
style
  | .list-block{
  |     width: 7rem;
  |     padding: 10px;
  |     box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  |     border-radius: .25rem!important;
  |     text-align: center;
  |     margin: 10px;
  |     cursor: pointer;
  | }
  | #yesterday-mode{
  |     width: 35%;
  |     padding: 10px;
  |     box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  |     border-radius: .25rem!important;
  |     text-align: center;
  |     margin: 10px;
  |     cursor: pointer;
  |     align-self: center;
  | }
  | .progress{ 
  |     font-size: 10px;
  |     height: 13px;
  | }
  | #tmpl-qotd{
  |   display: flex;
  |   justify-content: center;
  | }
{% endblock %}

{% block content %}
div.container.flex-column
  p(style="margin-top:20px")
    a(style="text-align:end;font-size:25px;" href="/calendar/") 艾宾浩斯复习日历
  
  #tmpl-qotd

  div#yesterday-mode.list-block(href="/review/review?limit=50" style="width: 35%!important; align-self: center;")
    a 昨日重现

  {% for d in data%}
  h2(style="margin-top:20px;") {{d.name}}
  div.d-flex.flex-wrap
    {% for l in d.lists %}
    div.list-block(href='/review/review?list={{l.i}}&book={{d.name_en}}')
      {% if l.index == 0 %}
      h4 List {{l.i|add:1}}
      {% else %}
      h4 List {{l.i}}
      {% endif %}
      div
        a {{l.len}}
        sub(style="font-size:10px; color: grey;") {{l.del_len}} 
        a 
          | [{{l.times}}
          sub {{l.plus}}
          | 次]
      div.progress(style="width:100%;")
        div.progress-bar(style="width:{{l.rate}}%; background-color: #7998e0;" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100")
          | {{l.rate}}%
      div.progress(style="width:100%;margin-top: 3px;")
        div.progress-bar(style="width:{{l.recent_rate}}%; background-color: #72d4c7;" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100")
          | {{l.recent_rate}}%
    {% endfor %}
  {% endfor %}
  a(style="text-align:end;margin-top:30px" href="/import/") 我要导入新的单词书
  hr
  div.text-center(style="margin-bottom: 130px;")
{% endblock %}