extends ../blocks/master
block content

  if authorised
      .text-center
        h1 Welcome back, #{user.name}!
        h2 账号登录成功，点击下方链接开始背单词吧！
        a(href="http://localhost:8000/" style="font-size:30px;") 登录背单词网站
        br
        a(href="/profile/logout" style="color: #ffffff;margin-top:20px").btn.btn-primary 退出登录
  else
    .text-center
      h1 登录
      .row
        .col-md-4
        .col-md-4
          form(action="/profile", method="post")
            .mb-3
              input(type="email", name="email", placeholder="请输入注册好的邮箱").form-control
            .mb-3
              input(type="password", name="secret", placeholder="请输入注册好的密码").form-control
            .mb-3
              input(type="submit", value="点击登录").form-control
        .col-md-4
      a(href="/register") 点击注册