//- 显示一个用户注册表单
extends ../blocks/master
block content
  .text-center
    h1 Register a user
    if response
      p= response
    .row
      .col-md-4
      .col-md-4
        form(action="/register", method="POST")
          .mb-3
            input(type="email", name="email", placeholder="email" required).form-control
          .mb-3
            input(type="name", name="name", placeholder="name" required).form-control
          .mb-3
            input(type="password", name="secret", placeholder="password" required).form-control
          .mb-3
            input(type="submit", value="Register")
      .col-md-4